#########################################################
# DOCKER
#########################################################
*.log*



#########################################################
# SCRIPTS
#########################################################


#########################################################
# APP
#########################################################
/src/logs
/src/archivos


